<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astrosaturn</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>

		<h1>About</h1>
        <h2>Hello! My name is Eric!</h2>
        <p>I am a second year computer science student at St Lawrence College.</p>
        <p>I am a full stack developer, most familiar with the C languages, Javascript, and Python. I also know a little bit of COBOL.</p>
	</body>
</html>
