---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astrosaturn</title>

	</head>
	<body>
		<nav class="navbar">
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</nav>

		<h1 class="header">Blog</h1>
		<h2 class="header">Personal Development Blog</h2>
        <p>Here you will find updates and information on everything I build!</p>
		<ul>
		  <li><a href="/posts/post-1/">Testing..</a></li>
		  <li><a href="/posts/post-2/">Attending st lawrence</a></li>
		</ul>
	</body>
</html>