---
import BaseLayout from '../layouts/baselayout.astro';
---
<BaseLayout pageTitle = "Home">
	<h1>Eric Poroznik</h1>
	<h2>Astro is really hard, but really fun!</h2>
	<br>
	<h2>I've been following their tutorial loosely, making my own changes as I go which is really fun to do.<br>
		Currently, I'm trying to fix the hamburger menu so the icon for it displays in the same block as the icons <br>
		without also making itself invisible.

	</h2>

</BaseLayout>

