---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astrosaturn</title>

		
	</head>
	<body>
		<nav class="navbar">
			<a href="/" class="active">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</nav>

		<h1>Eric Poroznik</h1>
		<h2>Glad you stopped by, this website is still under construction so there isn't much!</h2>
	</body>
</html>
