---
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
import Social from '../components/social.astro'
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>

		
	</head>
	<body>
		<Navigation />

		<h1>Eric Poroznik</h1>
		<h2>Glad you stopped by, this website is still under construction so there isn't much!</h2>
		<br>
		<h2>My current plans are to turn it into a personal portfolio of all my projects.</h2>
		<Footer />
	</body>
</html>
